/*

*/
/* 
    Created on : 18/04/2023, 10:40:52 AM
    Author     : home_frh2
*/

div.wicket-aa-container {
    border: 0px transparent;
    border-style: none;
    z-index: 99999; 
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
    box-shadow: rgba(3, 3, 3, 0.12) 0px 4px 8px 0px, rgba(3, 3, 3, 0.06) 0px 0px 4px 0px;
}

div.wicket-aa {
    font-size: 12pt;
    background-color: white;
    padding: 4px 0px;
    text-align:left; 
}

div.wicket-aa ul {
    list-style:none;
    padding: 2px 0px;
    margin:0;
}

div.wicket-aa ul li { 
    padding: 8px 16px; 
}

div.wicket-aa ul li.selected {
    background-color: rgb(240, 240, 240);
    color: rgb(21, 21, 21);  
    margin:0;
    font-weight: bold;
}