/*
.
*/
/* 
    Created on : 13/04/2023, 10:52:06 AM
    Author     : Alvaro
*/
html, body {

    font-weight: 400;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #EEF0F8;
    height: 100%;
}


button.pf-c-select__toggle ~ .pf-c-select__menu{

    --pf-c-select__menu--Top: 100%;
    display: none;

}
button.pf-c-select__toggle:hover ~ ul.pf-c-select__menu,
ul.pf-c-select__menu:hover
{
    --pf-c-select__menu--Top: 100%;
    display: block; 
}

button.pf-c-options-menu__toggle:hover ~ ul.pf-c-options-menu__menu,
ul.pf-c-options-menu__menu:hover{
    --pf-c-options-menu__menu--Top: 100%;
    display: block;
}

.pf-c-input-group > .pf-c-form__group{

    width: 80%;

}

.pf-c-dropdown.pf-m-expanded:hover .pf-c-dropdown__menu {
    display: block;
}
.pf-c-dropdown__menu {

    top: calc(100%);
}

.nukak-pf-input-decorator{
    width:100%;
}